{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.data_publikacji %}
            <div class="date">
                {{ post.data_publikacji }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ post.tytul }}</h2>
        <p>{{ post.tekst|linebreaksbr }}</p>
        <h6>Dodał: {{ post.autor }}</h6>
    </div>
{% endblock %}